<style>
    /* Footer Styles */
    footer {
        background: #6C63FF;
        color: #fff;
        text-align: center;
        padding: 15px 0;
        margin-top: 40px;
        box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
        font-size: 14px;
    }

    footer p {
        margin: 0;
    }
</style>


<footer>
    <p>© 2026 Apni Book Store</p>
</footer>