<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile | Apni Book</title>
    <style>
        write style code
    </style>
</head>

<body>
    <%- include('partials/header') %>
        <div class="profile-container">
            <div class="profile-pic">
                <img src="<%= user.pic || '/images/default-profile.png' %>" alt="Profile" id="profileImg">
                <label for="newPic" class="edit-icon">✏️</label>
                <input type="file" id="newPic" name="pic" accept="image" hidden>
            </div>

            <form action="/updateProfile" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" value="<%= user.name %>" placeholder="Your Name" required>
                <input type="email" name="email" value="<%= user.email %>" readonly>

                <h3>Change Password</h3>
                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                    required>
                <p id="passwordMessage"></p>
                <button type="submit">Update Profile</button>
            </form>
        </div>
        <script src="/js/script.js"></script>
</body>

</html>